<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Trade Journal</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.jpg" alt="logo" /></a>
    <div class="navlink"><a id="changepassButton" href="/changepass">Change Password</a></div>
  </nav>

  <section id="content">

  </section>

  <div id="errorDiv" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/changepassBundle.js"></script>
</body>

</html>